
<div class="body d-flex flex-column gap-md-4 justify-content-center align-items-center">
    <p class="h1 fw-1">Welcome to</p>
    <p class="h1">Art Institute of chicago</p>
    <button class="btn bg-white border-black px-3 fw-bold text-black mt-3" style="font-size: large;"
    (click)="start()">Get
    Started</button>
    <p class="text-black width text-center  h5" ><i>The Art Institute of Chicago was founded as both a museum and school for the fine arts in 1879, a critical era in
        the history of Chicago as civic energies were devoted to rebuilding the metropolis that had been destroyed by
        the Great Fire of 1871.</i><br></p>
</div>
<app-card></app-card>